NODE_ENV=development
API_PORT=3001
WEB_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
SWAGGER_ENABLED=true
LOG_LEVEL=info

POSTGRES_USER=sgi_dev
POSTGRES_PASSWORD=sgi_dev_password
POSTGRES_DB=sgi_comarca_dev
POSTGRES_PORT=5433
DATABASE_URL=postgresql://sgi_dev:sgi_dev_password@localhost:5433/sgi_comarca_dev?schema=public
